.summary-info {
  box-shadow: 0 7px 13px 0 rgba(86, 95, 102, 0.07);
  max-width: 215px;
  padding: 15px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 10px;
  margin-right: 0px;
  margin-left:8px;
  border-radius: 20px;
  width: 205px;
  background-color: #ccc;
      
  .info {
    width: 70px;  
      p.style-value {
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 12px;
        padding-right: 10px;
      }
  }
}
#prim {
  margin-left: 10px;
}
.vertIcon {
  margin: auto;
  margin-left: 25px;
}
#opacity {
  margin-top: 15px;
  text-align: center;
}
#grid-container {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
p {
  font-size: 16px;
}
.circle {
  height: 45px;
  margin: auto;
  width: 80%;
  box-sizing: border-box;
  border-radius: 10%;
  cursor: pointer;
}

div.invalide{
  color: red;
  font-size: 10px;
  font-weight: bold;
  margin-left: 10px;
}
input[type="text"].invalide {
  background-color: rgb(255, 0, 0, 0.5);
}
.tab button {
  background-color: inherit;
  float: left;
  outline: none;
  cursor: pointer;
  padding: 5px 7px;
  transition: 0.3s;
  font-size: 12px;
}
button.active{
  border: 2px solid #ff4081;
}
/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}
.tab #first{
  margin-left: 24px;
}
#name{
  color: white;
  mix-blend-mode: exclusion;
}
.swap {
  display: inline;
}


.opened {
  box-shadow: 0 7px 13px 0 rgba(86, 95, 102, 0.07);
  background: lightgray;
  max-width: 230px;
  padding: 15px;
  border-radius: 20px;
  position: relative;
  padding-right: 5px;
  padding-left: 5px;
  margin-top: 15px;
  
  .colors {
    flex-wrap: wrap;
    display: flex;
  
    .circle {
      flex: 40px 0 0;
      margin-right: 2px;
      margin-bottom: 10px;
      margin-left: 3px;
    }
  }
  

  .hex-code {
    height: 45px;
    display: flex;
  
    p {
      width: 50%;
      text-align: center;
      font-size: 12px;
      line-height: 26px;
    }
  
    .g-input {
      width: 120px;

      input {
        border: none;
        width: 110px;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 1px;
        height: 100%;
        border-radius: 20px;
      }
    }
  }
}
input{
  width: 35px;
  height: 20px;
  margin-top: 5px;
}

.hl {
  border-left: 6px solid darkgray;
  height: 100%;
  margin-left: 10px;
}

svg{
  padding-left: 15px;
  padding-right: 2px;
}

button{
  padding: 0px;
  font-size: 12px;
}
input{
  border-radius: 5px;
  width: 40px;
}
.okButton {
  border: none;
  background: #ff4081;
  color: #f2f2f2;
  width:30px;
  margin-left: 2px;
  font-size: 12px;
  border-radius: 5px;
  margin: auto;
  box-sizing: border-box;
  transition: all 500ms ease;
}

.hexButton {
  display: flex;
}