<div class="guide">
    <h1>Guide d'utilisation - PolyDessin</h1>
    <h2>Créer un dessin</h2>
    <p>Pour créer votre premier dessin, suivez les étapes suivantes:</p>
    <p>&nbsp;&nbsp;1-Appuyez sur le premier icone '+' qui se situe dans le coin supérieur gauche de l'écran</p>
    <p>&nbsp;&nbsp;2-Choisissez la hauteur et la largeur de votre nouveau dessin (supérieur à 0px, inférieur à 5000px)</p>
    <p>&nbsp;&nbsp;3-Choisissez la couleur de l'arrière plan (soit en hexa, soit en RGBA)</p>
    <p>&nbsp;&nbsp;4-Appuyez sur Ok!</p>
    <p>Il est important de noter que vous ne pouvez utiliser aucun outil sans avoir créé un nouveau dessin</p>

    <h2>Outils offerts</h2>
    <p>PolyDessin vous permet d'utiliser plusieurs outils que vous pouvez utiliser pour créer vos chef d'oeuvres. Le nom de chaque outil est obtenu en passant la souris sur un outil. Ces derniers sont expliqués ci-dessous, commençant par le haut de la barre latérale à gauche de l'écran:</p>
    <br>
    <h3>Outils de tracé</h3>
    <h3>Crayon</h3>
    <p>L'outil crayon vous permet de dessiner des traits. Vous pouvez changer l'épaisseur de vos traits ainsi que la couleur en choisissant une couleur primaire </p>
    <h3>Stylo</h3>
    <p>L'outil stylo vous permet de dessiner des traits. La vitesse du tracé est inversement proportionnelle avec son épaisseur. Vous pouvez changer la couleur de vos traits en choisissant une couleur primaire </p>
    <h3>Pinceau</h3>
    <p>L'outil pinceau vous permet de dessiner des textures (cinq options disponibles). Vous pouvez changer l'épaisseur de vos textures ainsi que la couleur
    en choisissant une couleur primaire </p>

    
    <h3>Applicateur de couleur</h3>
    <p>L'applicateur de couleur permet de changer la couleur d’un objet (rectangle, ellipse, cercle, etc.) en cliquant dessus. Un clic avec le bouton gauche changera la couleur pour la couleur principale. Un clic avec le bouton droit changera la couleur de bordure pour la couleur secondaire.
    </p>

    <h3>Couleur de fond</h3>
    <p>Il est possible de changer la couleur de fond de votre dessin à tout moment en utilisant l'outil de couleur ce trouvant sur la barre latérale.</p>

    <h3>Ligne</h3>
    <p>Cet outil vous permet de choisir une taille et un type de ligne voulu pour ensuite pouvoir créer des lignes a l'aide du clique gauche de la souris. 
        Il est possible d'utiliser les raccourcis : Escape pour annuler la ligne en cours de création et Backspace pour annuler le segment de ligne créé le plus récent.
        Pour arrêter de faire des segments de ligne, il ne suffit que de double-cliquer à la fin de notre ligne.
    </p>

    <h3>Pipette</h3>
    <p>La pipette permet de saisir et d'assigner des couleurs. Un clic gauche assigne la couleur selectionnée à la couleur primaire. Un clic droit assigne la couleur selectionnée à la couleur secondaire.
        Pour rendre ce changement de couleur officiel, il suffit de cliquer sur le bouton "Appliquer" se trouvant sur la barre latérale lorsque l'outil pipette est selectionné.
    </p>

    <h3>Rectangle</h3>
    <p>Cet outil vous permet de dessiner des rectangles. Vous pouvez choisir de dessiner soit seulement le contour d'un rectangle, soit le plein, soit les deux. Il est aussi possible pour vous de choisir l'épaisseur du contour d'un rectangle. Vous pouvez aussi definir la couleur principale (le remplissage) ainsi que la couleur secondaire (le contour).
    </p>

    <h3>Ellipse</h3>
    <p>Cet outil vous permet de dessiner des ellipses. Tout comme le rectangle, vous pouvez choisir de dessiner soit le contour de l'ellipse, soit le plein, soit les deux. Il est aussi possible de définir l'épaisseur du contour de l'ellipse.
        Un glisser déposer permet de dessiner une ellipse occupant la plus grande aire dans un rectangle. Pour dessiner un cercle, il suffit d'appuyer dur la touche "shift".
    </p>

    <h3>Polygone</h3>
    <p>Cet outil vous permet de dessiner des polygones. Le nombre de côtés souhaités (entre 3 et 12), ainsi que l'épaisseur du contour des polygones peuvent être choisis sur la barre latérale.
        Tout comme le rectangle, vous pouvez choisir de dessiner soit le contour de l'ellipse, soit le plein, soit les deux. Un glisser déposer permet de dessiner un polygone occupant la plus grande aire dans un rectangle.
    </p>

    <h3>Grille</h3>
    <p>Cet outil vous permet d'afficher une transparente en fond d'écran. Il est possible d'incrémenter la taille des carrés de la grille avec le raccourci + ou de réduire celle-ci avec le raccourci -</p>

    <h3>Étampes</h3>
    <p>Cet outil vous permet de choisir une image, son échelle et son angle de rotation par rapport a l'image échantillon de base et ensuit insérer cette image dans la zone de dessin.
        Il est possible d'utiliser le raccourci : Alt + cran de roulette pour augmenter l'angle de rotation d'une étampe. Au niveau du fonctionnement, il faut simplement sélectionner l'image voulu en cliquant sur celle-ci, choisir ses paramètres ou utiliser ceux de base, et ensuite cliquer sur l'endoit de la zone de dessin pour y faire apparaitre l'étampe.
    </p>
    
    <h3>Sauvegarder un fichier</h3>
    <p>Il est possible de sauvegarder votre dessin de deux manières différentes</p>
    <p>&nbsp;&nbsp;1-Sauvegarde serveur: cet options vous permet de sauvegarder le dessin courant dans la base de données de Polydessin. Il
      n'est pas possible d'ouvrir l'option sauvegarder s'il n'y a pas de dessin en cours.</p>
    <p>&nbsp;&nbsp;2-Sauvegarde local: cet options vous permet de sauvegarder le dessin courant localement sur votre ordinateur. Le fichier se trouvera dans le dossier téléchargé par défaut. Il
      n'est pas possible d'ouvrir l'option sauvegarder s'il n'y a pas de dessin en cours.</p>
    
    <h3>Ouvrir un fichier</h3>
    <p>Il est possible d'ouvrir un ancien dessin qui a été sauvegardé de deux manières différentes</p>
    <p>&nbsp;&nbsp;1-Ouverture du serveur: cet options vous permet d'ouvrir un dessin qui a auparavent été sauvegardé dans la base de données de polydessin. Il est possible de filtrer à travers les dessins sauvegardés à l'aide des étiquettes. </p>
    <p>&nbsp;&nbsp;2-Ouverture local: cet options vous permet d'ouvrir un dessin qui a auparavent été sauvegardé localement.</p>
    
    <h3>Exporter le dessin</h3>
    <p> Cette fonctionnalité permet d’exporter un dessin localement sous les formats suivants : bmp, png, jpg et svg. </p>
    
    <h2>Les raccourcis</h2>
    <p>Voici la liste des raccourcis disponibles pour le moment afin d'intéragir plus rapidement avec PolyDessin:</p>

    <h3>Option de fichier</h3>
    <p>Ctrl-O: Créer un nouveau dessin</p>
    <p>Ctrl-S: Sauvegarder le dessin </p>
    <p>Ctrl-G: Voir la galerie de dessins </p>
    <p>Ctrl-E: Exporter le dessin  </p>
    <br>
    <h3>Manipulations de sélection</h3>
    <p>Ctrl-X: Couper la sélection</p>
    <p>Ctrl-C: Copier la sélection</p>
    <p>Ctrl-V: Coller la sélection</p>
    <p>Ctrl-D: Dupliquer la sélection</p>
    <p>Supprimer: Supprimer la sélection</p>
    <p>Ctrl-A: Tout sélectionner</p>
    <br>
    <p>Ctrl-Z: Annuler</p>
    <p>Ctrl-Shift-Z: Refaire</p>
    <br>
    <h3>Choisir un outil</h3>
    <p>C : Utiliser le crayon</p>
    <p>W : Utiliser le pinceau</p>
    <p>P : Utiliser la plume</p>
    <p>Y : Utiliser le stylo </p>
    <p>A : Utiliser l'aérosol </p>
    <p>1 : Utiliser le rectangle</p>
    <p>2 : Utiliser l'ellipse</p>
    <p>3 : Utiliser le polygone </p>
    <p>L : Utiliser la ligne </p>
    <p>T : Utiliser le texte </p>
    <p>R : Utiliser l'applicateur de couleur</p>
    <p>B : Utiliser le sceau de peinture </p>
    <p>E : Utiliser l'efface' </p>
    <p>I : Utiliser la pipette </p>
    <p>S : Utiliser l'outil de sélection </p>
    <br>
    <h3>Options zone de travail</h3>
    <p>G : Afficher/masquer la grille </p>
    <p>M : Activer/désactiver le magnétisme </p>
    <p>+ : incrémenter l'espace entre les carrés de la grille de 5px</p>
    <p>- : décrémenter l'espace entre les carrés de la grille de 5px</p>

    <br>
    <h3>Options outil ligne</h3>
    <p>Escape : Annuler la ligne en cours de création</p>
    <p>Backspace : Annuler le segment de ligne créé le plus récent</p>
    <br>
    <h3>Étampe</h3>
    <p>Alt + cran de roulette : Augmenter l'angle de rotation d'une étampe</p>
    
    <button mat-button="" [mat-dialog-close]="true" tabindex="-1"> Fermer </button>
</div>


